h1 {
  font-weight: bold;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  margin: 10px;
  margin-bottom: 24px;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.todo-row {
  margin-bottom: 24px;
}

.todo-button {
  min-width: 80px;
}
